body {
  margin:auto;
  background-color: rgb(241, 241, 241);
}

#naver_title {
  position: relative;
  height: 44px;
  margin-top: 64px;
  overflow: hidden;
}

#naver_logo {
  position: relative;
  margin: 0 auto;
  width: 240px;
  height: 100px;
  display: flex;
}

#big_background {
  position: relative;
  width: 459px;
  height: 1350px;
  margin: 20px auto;
}

.join_title {
  position: relative;
  margin-top: 20px;
  text-align: left;
  font-weight: bold;
}

.text_box {
  position: relative;
  margin-top: 20px;
  width: 452px;
  height: 50px;
  outline: none;
  font-size: 120%;
  margin-bottom: 20px;
  border: 1px solid gray;
}

.password_box:nth-of-type(2){
  top: 300;
  width: 500px;
  right: 300px;
  background-color: aqua;
}

#naver_com {
  position: absolute;
  right: 13px;
  top: 50px;
  font-size: 150%;
  color: gray;
}

.password_box {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  top: 184px;
  overflow: hidden;
}
.password {
  position: absolute;
  width: 200px;
}
#password1{
  width: 200px;
  right: -118px;

}

#password_box1 {
  top: 320px;

}

.text_box:nth-of-type(5) {
  position: relative;
  inline-size: 135px;
}

select {
  position: relative;
  width: 141px;
  height: 50px;
  outline: none;
  font-size: 120%;
  margin-left: 12px;
}

.day:nth-of-type(3) {
  width: 458px;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.day:nth-of-type(4) {
  position: relative;
  width: 458px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
}

.text_box:nth-of-type(7) {
  position: relative;
  width: 300px;
  float: left;

}

.link {
  position: relative;
  width: 132px;
  height: 52px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  background-color: rgb(0, 187, 0);
  text-align: center;
  line-height: 52px;
  color: white;
  font-weight:bold;
  text-decoration-line:none;
  font-size: 115%;

}
.text_box:nth-of-type(8){
  position: relative;
  margin-top: 0;
  background-color:transparent;
}
.link:nth-of-type(2){
  position: relative;
  margin-top: 10px;
  width: 458px;
  margin-left: 0;
  font-size: 140%;
}
ul{
  position: relative;
  list-style: none;


}


li{
  margin-top: 20px;
  float: left;
  text-align: center;
  font-size: 70%;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 1%;
}